{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}


{% block foto_navbar %}
<section class="content-banner">

    <div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-md-12">
    <div class="banner-con text-center">
        <p class="first-title">AboutPage</p>
        <p class="banner-des">Alles over mijn gip</p>
        <a href="https://github.com/SmeetsSimon/Weerstation_gip" target="_blank" class="banner-btn">Github </a>
    </div>
  </div>
  </div>
  </div>
  </section>
{% endblock %}
{% block content %}

</br>
<div class="container">
    <div class="row">
        <div class="col-md-12"><h2>Gip samenvatting</h2></div>
        <div class="col-6"><p>Ik heb een weerstation gemaakt die de temperatuur, luchtvochtigheid en de luchtdruk kan meten met een sensor
            deze sensor laat daarna alle gegevens zien op een lcd scherm. Voor dit te programmeren heb ik een Raspberry pi gebruikt. En als laatste moeten de gegevens live 
            te zien zijn op mijn website.
        </p></div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12"><h2 id="sensor">Sensor <a class="anchor-link" href="{% url 'about' %}#sensor" aria-label="Link to this section: Sensor"></a></h2></div>
        <div class="col-8">
            <p>Ik heb de BME280 sensor van Adafruit gebruikt. Met deze sensor kan je zeer nauwkeurig de temperatuur, luchtdruk en luchtvochtigheid.<br>Er zijn 2 verschillende soorten aansluiten, ik maak gebruik van i2c dat heb ik gedaan omdat de LCD
                die ik gebruik hier ook mee werkt. Bij i2c maak je gebruik van 4 aansluitpinnen: Vin, GND, SCK en SDI. De Vin en GND zijn vanzelfsprekend maar de SCK en de SDI waren voor mij nieuw.
                SCK staat voor 'SPI Clock Pin' dit is de input naar de chip en word aangesloten op de SCL pin. SDI staat voor 'Serial Data In' via deze pin verzend de processor data naar de BME280 en word 
                aangesloten op de SDA pin. Zie hier de code die ik heb geschreven voor de <a href="https://github.com/SmeetsSimon?tab=repositories" class="text-decoration-none">Sensor</a>. 
    
            </p>
            
        </div>
        <div class="col-4"><img src="{% static 'images/sensor.jpg' %}" class="w-75 h-100" alt="BME280"></div>

        <div class="col-6"><H3>Hier kun je zien hoe de BME280 aan de Raspberry Pi is aangesloten</H3></div>
        <div class="col-6"><img src="{% static 'images/Afbeelding1.png' %}" class="img-fluid float-end" alt="Aansluiting van sensor op Raspberry Pi"></div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-12"><h2 id="lcd">LCD <a class="anchor-link" href="{% url 'about' %}#lcd" aria-label="Link to this section: LCD"></a></h2></div>
        <div class="col-md-12">
            <p>Ik gebruik een 20X4 LCD van JOY-IT. De LCD heeft een I2D communicatie-adapter er achterop gesoldeerd. Dat is handig want het heeft de zelfde werking als bij de sensor.
                4 pinnen: GND, VCC, SDA en SCL. De SCL komt overeen met de SDA die we terug hebben gezien op de sensor. De SCL is hetzelfde als de SCK. 
                Zie hier de code die ik heb geschreven voor de  <a href="https://github.com/SmeetsSimon?tab=repositories" class="text-decoration-none">LCD</a>.
            </p>
        </div>
        <div class="col-6"><H3>Hier kun je zien hoe de LCD aan de Raspberry Pi is aangesloten.</H3></div>
        <div class="col-6"><img src="{% static 'images/Afbeelding2.png' %}" class="img-fluid float-end" alt="LCD"></div>

    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12"><h2>Raspberry Pi</h2></div>
        <div class="col-md-12">
            <p>Voor de programmeren heb ik gekozen voor een Raspberry Pi. Een Raspberry Pi is een microcontroller je kan het vergelijken met een kleine pc.
                je programmeerd hier gewoon met python op daarom dat ik ervoor heb gekozen in plaats van een Arduino die programmeerd met C++.
                <br>Als je intresse hebt in de code die ik heb gemaakt kun je ze zien allemaal zien op mijn <a href="https://github.com/SmeetsSimon?tab=repositories" class="text-decoration-none">Github </a>pagina.
            </p>
            <div class="col-6"><img src="{% static 'images/raspberry-pi.png' %}" class="img-fluid float-end" alt="raspberry-pi"></div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12"><h2>Opbouwen gip</h2></div>
        <div class="col-md-12">
            <p>Voor het visueel aantrekkelijk te maken heb ik een doosje laten maken waar ik mijn Raspberry Pi, Sensor en LCD heb ik zitten.
                het doosje is gemaakt van hout dat ik heb laten lazeren op school.
            </p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12"><h2 id="data-logging">Data logging <a class="anchor-link" href="{% url 'about' %}#data-logging" aria-label="Link to this section: Data Logging"></a></h2></div>
        <div class="col-md-12">
            <p> De opdracht was om de gegevens te laten tonen op een LCD maar ook op een website. Dit kan je zien in mijn <a href="{% url 'dashboard' %}" class="text-decoration-none">Dashboard </a>pagina.
                Voor dit te doen had ik speciaal gekozen voor Django maar dat ging me veel te veel tijd kosten om te doen en dan zou ik mijn website nooit afkrijgen.
                Daarom heb ik gekozen voor ThingSpeak.<br>
                ThingSpeak is een service waarmee je live gegevensstromen in de cloud kunt samenvoegen, visualiseren en analyseren. Voor dit toe te voegen aan mijn code moest ik een paar regels toevoegen
                <a href="#" class="text-decoration-none">Zie Code</a>. Als ik mijn programma ging laten draaien stuurde die de gegevens van de sensor door naar de cloud van ThingSpeak.
                Dan kun je live de gegevens zien binnenkomen op ThingSpeak. Daarna had ik de grafieken die ik had gemaakt op mijn website gezet waardoor je ze ook live kunt zien op mijn website.

            </p>
        </div>
    </div>
</div>
<div class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
            Website
        </button>
      </h2>
      <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">Mijn website is een belangrijk deel van mijn gip. Ik moest in plaats van een bundel een website maken en daar bovenop moet ik ook nog een grafische weergave tonen
            van de sensor zijn gegevens. Ik had hier kunnen kiezen tussen html en Django en ik heb voor Django gekozen. Die keuze had ik gemaakt met in gedachten een database te maken 
            met via Django want dat ging niet met gewoon Html. <br>
            Later ben ik er dan achter gekomen wat ThingSpeak was en had ik ook nog de keuze om opnieuw te beginnen met html. Dit was toen ik al ver was met mijn website op Django maar ik
            botste telkens tegen nieuwe problemen, omdat Django uitgebreider en moeilijker is dan Html. Ik ben toch verder gegaan met Django omdat het me na een half jaar ermee te werken wel beviel.
            Nu uiteindelijk heb ik wel gebruik gemaakt van Django met mijn <a href="{% url 'contact' %}" class="text-decoration-none">Contact</a> pagina.</div>
      </div>
    </div>
</div>
<!-- <div class="container">
    <div class="row">
        <div class="col-md-12"><h2>Website</h2></div>
        <div>
            <p>Mijn website is een belangrijk deel van mijn gip. Ik moest in plaats van een bundel een website maken en daar bovenop moet ik ook nog een grafische weergave tonen
                van de sensor zijn gegevens. Ik had hier kunnen kiezen tussen html en Django en ik heb voor Django gekozen. Die keuze had ik gemaakt met in gedachten een database te maken 
                met via Django want dat ging niet met gewoon Html. <br>
                Later ben ik er dan achter gekomen wat ThingSpeak was en had ik ook nog de keuze om opnieuw te beginnen met html. Dit was toen ik al ver was met mijn website op Django maar ik
                botste telkens tegen nieuwe problemen, omdat Django uitgebreider en moeilijker is dan Html. Ik ben toch verder gegaan met Django omdat het me na een half jaar ermee te werken wel beviel.
                Nu uiteindelijk heb ik wel gebruik gemaakt van Django met mijn <a href="{% url 'contact' %}" class="text-decoration-none">Contact</a> pagina.

            </p>
        </div>
    </div>
</div> -->
</br>

<div class="card-group mt-5">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Johan Colson</h5>
        <p class="card-text">Graag wil ik mijn Klasleerkracht bedanken oor alle problemen die hij met mij heeft opgelost. </p>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Takis Issaris</h5>
        <p class="card-text">Graag wil ik ook mijn oude leerkracht voor Programmeren bedanken voor mij te introduceren aan Django en voor mij daarmee verder te helpen.</p>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Hendrik Clijsters</h5>
        <p class="card-text">En als laatste wil ik ook graag mijn huidige leerkracht van Programmeren bedanken.En als laatste wil ik ook graag mijn huidige leerkracht van Programmeren bedanken voor mij verder te helpen aan mijn website.</p>
      </div>
    </div>
  </div>

  



{% endblock %}