{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}

{% block content %}

<div class="section">
    <div class="col-md-7">
        <h2 class="featurette-heading">Gip samevatting</h2>
        <p class="">Some great placeholder content for the firSome great placeholder content for the firSome great placeholder content for the firSome great placeholder content for the first featurette here. Imagine some exciting prose here.</p>
    </div>

    <div>
        <h2>Sensor</h2>
        <p>PIUDHEZPIHFAPIUHPHFPHFHpiuheihiheiuefhephfp i eufhph azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC
            iejiopfjpzjefijzapejfpzjaejezajfpijazfjpezajfpojz
            aezfiojazpfjpafpjapfjjpzjpfjporeijjepojzopeijfijrzjer
            refozeijjzoepifjpoizjeifjezroijfjzpeoijfzjerpfjeojf
        </p>
    </div>
    <div>
        <h2>Sensor Code</h2>
        <p>PIUDHEZPIHFAPIUHPHFPHFHpiuheihiheiuefhephfp i eufhph azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC
            iejiopfjpzjefijzapejfpzjaejezajfpijazfjpezajfpojz
            aezfiojazpfjpafpjapfjjpzjpfjporeijjepojzopeijfijrzjer
            refozeijjzoepifjpoizjeifjezroijfjzpeoijfzjerpfjeojf
        </p>
    </div>
    <div>
        <h2>LCD</h2>
        <p>PIUDHEZPIHFAPIUHPHFPHFHpiuheihiheiuefhephfp i eufhph azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC
            iejiopfjpzjefijzapejfpzjaejezajfpijazfjpezajfpojz
            aezfiojazpfjpafpjapfjjpzjpfjporeijjepojzopeijfijrzjer
            refozeijjzoepifjpoizjeifjezroijfjzpeoijfzjerpfjeojf
        </p>
    </div>
    <div>
        <h2>LCD Code</h2>
        <p>PIUDHEZPIHFAPIUHPHFPHFHpiuheihiheiuefhephfp i eufhph azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC
            iejiopfjpzjefijzapejfpzjaejezajfpijazfjpezajfpojz
            aezfiojazpfjpafpjapfjjpzjpfjporeijjepojzopeijfijrzjer
            refozeijjzoepifjpoizjeifjezroijfjzpeoijfzjerpfjeojf
        </p>
    </div>
    <div>
        <h2>Raspberry Pi</h2>
        <p>PIUDHEZPIHFAPIUHPHFPHFHpiuheihiheiuefhephfp i eufhph azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC
            iejiopfjpzjefijzapejfpzjaejezajfpijazfjpezajfpojz
            aezfiojazpfjpafpjapfjjpzjpfjporeijjepojzopeijfijrzjer
            refozeijjzoepifjpoizjeifjezroijfjzpeoijfzjerpfjeojf
        </p>
    </div>
    <div>
        <h2>opbouwen gip</h2>
        <p>PIUDHEZPIHFAPIUHPHFPHFHpiuheihiheiuefhephfp i eufhph azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC
            iejiopfjpzjefijzapejfpzjaejezajfpijazfjpezajfpojz
            aezfiojazpfjpafpjapfjjpzjpfjporeijjepojzopeijfijrzjer
            refozeijjzoepifjpoizjeifjezroijfjzpeoijfzjerpfjeojf
        </p>
    </div>
    <div>
        <h2>Data Logging</h2>
        <p>PIUDHEZPIHFAPIUHPHFPHFHpiuheihiheiuefhephfp i eufhph azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC
            iejiopfjpzjefijzapejfpzjaejezajfpijazfjpezajfpojz
            aezfiojazpfjpafpjapfjjpzjpfjporeijjepojzopeijfijrzjer
            refozeijjzoepifjpoizjeifjezroijfjzpeoijfzjerpfjeojf
        </p>
    </div>
    <div>
        <h2>Website</h2>
        <p>PIUDHEZPIHFAPIUHPHFPHFHpiuheihiheiuefhephfp i eufhph azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC
            iejiopfjpzjefijzapejfpzjaejezajfpijazfjpezajfpojz
            aezfiojazpfjpafpjapfjjpzjpfjporeijjepojzopeijfijrzjer
            refozeijjzoepifjpoizjeifjezroijfjzpeoijfzjerpfjeojf
        </p>
    </div>
</div>



{% endblock %}