{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}

{% block content %}
<div class="section">
    <h6>wie ben ik?</h3>
<p>
    Ik ben een leerling van het 6de jaar Industriële ICT op Mosa-RT.
    dit is mijn gip. epfhiuzfuihfiohizfh hzfioufhoiuhzfhefze
    efzfezifhêzfzfez
    fzagatra ttcpioathcptpaicho
    ac oio  c  uc ra 
</p>
<p>
    hdhduez ufipuefhpha hf paihzefp afphfei zahf  
    azifehe pzahpif aeeiz fhiazhf^aze^fihedeouifozauhhiahhfhauz hf zaiohzehfi oauhhahzoiu eazhfe auzh ouifhaiz  ezah fiazuazoiefhazfhoaiz iohezfo uiiaze hoih
</p>

<img src="{% static 'images/Data_gip_simon.png' %}" width="1100" height="700">


    




</div>



{% endblock %}