{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}

{% block content%}

<!-- <div class="container mt-5">
    <h1>Contact Me!</h1>
    <form class="row g-3">
      <div class="col-md-6">
        <label for="firstName" class="form-label">First Name</label>
        <input type="text" class="form-control" id="firstName" required="">
      </div>
      <div class="col-md-6">
        <label for="lastName" class="form-label">Last Name</label>
        <input type="text" class="form-control" id="lastName" required="">
      </div>
      <div class="col-md-8">
        <label for="emailInfo" class="form-label">E-mail</label>
        <input type="email" class="form-control" id="emailInfo" required="">
      </div>
      <div class="col-md-4">
        <label for="phoneNumber" class="form-label">Phone Number</label>
        <input type="text" class="form-control" id="phoneNumber" placeholder="+1 (415) 867-5309">
      </div>
      <div class="col-md-12">
        <label for="comments" class="form-label">Comments, questions?</label>
        <textarea class="form-control" id="comments" rows="3" required=""></textarea>
      </div>
      <div class="col-md-12">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form> 
</div> -->

{%  if message_name %}
  <h2> Thank {{ message_name }}!</h2>
  <p> We received your email and will respond shortly...  </p>
  
  </br></br></br>
{% else %}

<div class="container mt-5">
  <div class="contact-form">

    <div class="section-heading">
      <h2>Get in touch - {{ message_name }}</h2>
      <div class="line"></div>
    </div>
    <!-- form -->
    <form action="{% url 'contact' %}" method="post">
      {% csrf_token %}
      <div class="row">
        <div class="col-md-6">
          <input type="text" name="message-name" class="form-control mb-50" placeholder="Your Name">
        </div>
        <div class="col-md-6">
          <input type="email" name="message-email" class="form-control mb-50" placeholder="Your Email">
        </div>
      </div>  
      <div class="row">
        <div class="col-12">
          <textarea name="message" class="form-control mb-50" placeholder="Your Message"></textarea>
        </div>
      </div>
      <div class="row">  
        <div class="col-12">
          <button type="submit" class="btn btn-primary">Send Message</button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endif %}


{% endblock %}