{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}

{% block foto_navbar %}
<section class="content-banner">

  <div class="container">
<div class="row d-flex justify-content-center">
  <div class="col-md-12">
  <div class="banner-con text-center">
      <p class="first-title">Contact Me</p>
      <p class="banner-des">Je kan me alles vragen over mijn gip. Je feedback is ook altijd welkom!</p>
      <a href="https://github.com/SmeetsSimon" target="_blank" class="banner-btn">My Profile </a>
  </div>
</div>
</div>
</div>
</section>
{% endblock %}

{% block content%}

{%  if message_name %}
  <h2> Thank {{ message_name }}!</h2>
  <p> We received your email and will respond shortly...  </p>
  
  </br></br></br>
{% else %}

<div class="container mt-5">
  <div class="contact-form">

    <div class="section-heading">
      <h2>Get in touch - {{ message_name }}</h2>
      <div class="line"></div>
    </div>
    <!-- form -->
    <form action="{% url 'contact' %}" method="post">
      {% csrf_token %}
      <div class="row">
        <div class="col-md-6">
          <input type="text" name="message-name" class="form-control mb-50" placeholder="Your Name">
        </div>
        <div class="col-md-6">
          <input type="email" name="message-email" class="form-control mb-50" placeholder="Your Email">
        </div>
      </div>  
      <div class="row">
        <div class="col-12">
          <textarea name="message" class="form-control mb-50" placeholder="Your Message"></textarea>
        </div>
      </div>
      <div class="row">  
        <div class="col-12">
          <button type="submit" class="btn btn-primary">Send Message</button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endif %}


{% endblock %}