{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}

{% block foto_navbar %}
<section class="content-banner">

  <div class="container">
<div class="row d-flex justify-content-center">
  <div class="col-md-12">
  <div class="banner-con text-center">
      <p class="first-title">Dashboard</p>
      <p class="banner-des">Teperature,Humidity &amp; Pressure</p>
      <a href="https://thingspeak.com/channels/1676972" target="_blank" class="banner-btn">View on ThingSpeak</a>
  </div>
</div>
</div>
</div>
</section>

{% endblock %}

{% block content %}

</br>
  <section>
    <div class="container">
        <div class="col-md-7">
          <h1 class="featurette-heading">Temperature</h1>
        </div>
        <div class="col-md-5">
          <iframe width="450" height="260" style="border: 1px solid #cccccc;" src="https://thingspeak.com/channels/1676972/charts/1?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=5&title=Temperature&type=line&xaxis=Tijd&yaxismax=auto&yaxismin=0"></iframe>
          <iframe width="450" height="260" style="border: 1px solid #cccccc;" src="https://thingspeak.com/channels/1676972/widgets/474547"></iframe>
        </div>
    </div>
  </section>
  <section>
    <div class="container">
      <div class="col-md-7">
        <h1 class="featurette-heading">Humidity</h1>
      </div>
      <div class="col-md-5">
          
        <iframe width="450" height="260" style="border: 1px solid #cccccc;" src="https://thingspeak.com/channels/1676972/charts/2?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=5&title=Humidity&type=line&xaxis=Tijd&yaxis=luchtvochtigheid&yaxismax=100&yaxismin=0"></iframe>
        <iframe width="450" height="260" style="border: 1px solid #cccccc;" src="https://thingspeak.com/channels/1676972/widgets/474548"></iframe>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <div class="col-md-7">
        <h1 class="featurette-heading">Pressure</h1>
      </div>
      <div class="col-md-5">
        <iframe width="450" height="260" style="border: 1px solid #cccccc;" src="https://thingspeak.com/channels/1676972/charts/3?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=5&title=Pressure&type=line&xaxis=Luchtdruk"></iframe>    
        <iframe width="450" height="260" style="border: 1px solid #cccccc;" src="https://thingspeak.com/channels/1676972/widgets/474550"></iframe>
      
      </div>
    </div>
  </section>

   
{% endblock %}