{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block carrousel %}
    <div>
        {% include 'carocel.html' %}
    </div>
{% endblock %}

{% block content %}
<h2>
    Voorwoord
</h2>
<p>
    Mijn naam is Simon Smeets en ik ben een leerling van het zesde jaar Industriële ICT op Mosa-RT. Mijn opdracht is om dit jaar een geïntegreerde proef te maken. Ik kreeg de opdracht om een weerstation te maken die met een sensor de temperatuur, de luchtvochtigheid en de luchtdruk kan meten.  
    De gip is een onderdeel van de volgende vakken: programmeren, microcontrollers en ICT-projecten.  
</p>
</br> 
<p>
    Graag zou ik meneer Colson en meneer Issaris willen bedanken voor hun verbetering, opmerkingen en hulp die ze me gegeven hebben. Door hun goede raad hebben ze me op het juiste spoor gezet.
</p>

</br>
</br>

<h2>
    Inleiding
</h2>
<p> 
    Mijn gip zal over een weerstation gaan. Met een weerstation kun je zelf betrouwbare gegevens over het weer verkrijgen en die rechtstreeks op een scherm laten weergeven. Het weerstation moet beschikken over de nodige sensoren om zo de verzamelde gegevens op mijn LCD en op mijn website grafisch weer te geven. 

</p>
<p>
    Eerst gaan we overlopen hoe ik mijn weerstation heb gemaakt, Dan toon ik de werking van de sensor en LCD en hierna ook hoe ik ze beide op de microcontroller heb geprogrammeerd. Hierna laat ik zien hoe ik de gegevens van mijn sensor naar mijn website heb doorgestuurd. En uiteindelijk zal ik mijn website en mijn blog bespreken. Hier zul je zien dan ook alle weergegevens live getoond worden op het scherm.
</p>

</br>
</br>

<h2>
    besluit
</h2>
<p>
    Het bouwen weerstation was een goede opdracht om je kennis van data, componenten en programmeren met een microcontroller uit te breiden aangezien het niet te gemakkelijk of moeilijk was. De sensor en de LCD zijn leuk voor beginners om te programmeren omdat je veel informatie hiervan kunt opzoeken. Je kunt er uiteindelijk ook een uitgebreider programma maken. Er zijn veel mogelijkheden om je weerstion uit te breiden. De website bouwen met Django is niet echt voor beginners. Je zult er veel over vinden online Maar omdat er te veel verschillende oplossingen zijn voor één probleem, leidt dat ook soms tot verwarring. 
</p>
<p>
    Zelf vond ik het wel fijn om te maken. Het was soms wel een moeilijk uitdaging om mijn website in orde te krijgen waardoor ik veel hulp nodig had. Het programmeren van de sensor en LCD gingen wel vlot want ik had hier al de nodige informatie op internet gevonden. Wel heb ik hier en daar zelf een paar fouten gemaakt waar ik zelf wel nog een oplossing voor heb kunnen vinden.
</p>

{% endblock %}




